<div class="settings">
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select [(ngModel)]="settingsService.language.code">
      <mat-option *ngFor="let language of languages" [value]="language.code">{{language.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="number of words" matInput [(ngModel)]="settingsService.numberOfWords">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="time (min)" matInput [(ngModel)]="settingsService.time">
  </mat-form-field>

</div>